@font-face{
  font-family: "nasa";
  src: url("police/nasa.TTF") format("woff2");
}

.app{
  background-image: url("./images/pexels-photo-2085998.jpeg");
  color: white;

}

.home{
  display: flex;
  background-image: url("./images/pexels-photo-2085998.jpeg");
  align-items: center;
  justify-content: center;
}
.navbar ul{
  
  padding: 0px !important;
}

.home-link{
  display: flex;
  text-align: center;
  font-family: 'nasa', Courier, monospace;
  font-size: 3em;
  color: white;
  text-shadow: 5px 5px #558ABB;
  line-height: 2.3;
}

.navbar .link{
color: white;
}

.navbar{
  font-family: 'nasa', Courier, monospace;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  text-decoration: none;
}

ion-icon {
  font-size: 50px;
  color: black;
}
.nasa-photo{
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.nasa-photo h1{
  margin-top: 3vw;
  font-family: 'nasa', Courier, monospace;

}
.nasa-photo .date{
  text-decoration: underline;

}
.nasa-photo .explanation{
  width: 70vw;
  line-height: 1.5em;
  font-size: large;

}

.nasa-photo img{
  border: 15px solid grey;
  width: 50vh;
  height: 50vh;
}
